*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F0F2F5;
}
.main{
    width: 100%;
    min-width: 720px;
    margin-top: 70px;
}
.main_1{
width: 980px;
min-height: 496px;
padding: 20px 0;
margin: 0 auto;
display: flex;
}
.main_1_2{
    width: 548px;
    height: 266px;
}
.main_1_2_image{
    width: 548px;
    height: 54px;
   padding: 112px 0px 16px 0px;
}
.imageface{
margin: -28px;
}
.sologan{
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    width: 500px;
}
.main_1_3{
    width:396px;
    height: 456px;
}
.main_1_3_form{
    background-color: #Fff;
    width: 396px;
    border: none;
   height: 345px;
    margin-top: 40px;
    padding: 10px 0px 24px 0px;
     box-sizing: border-box;
     border-radius: 8px;
     box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}
.main_1_3_text{
    width: 396px;
    line-height: 1.34;
    border-top: none;
    color: #1c1e21;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding-top: 0;
text-align: center;
margin-top: 28px;
}
.main_1_3_form_main{
    margin: 0;
    padding: 0;
    text-align: center;    
}

.main_1_3_form_main_name{
    width: 364px;
    height: 52px;
    padding: 6px 0;
    display: inline-block;
    margin: auto;  
}
.inputtext{
    border-radius: 8px;
    width: 330px;
    height: 22px;
    padding: 14px 16px;
    border: 1px solid #dddfe2;
    color: #1d2129;
    line-height: 16px;
    font-size: 17px;
}
.main_1_3_form_main_login{
    font-family: inherit;
    padding-top: 6px;
    text-align: center;
}
.main_1_3_form_main_login_button{
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 332px;
    box-sizing: content-box;
    font-weight: bold;
    color: #fff;
}
.main_1_3_form_main_forget{
    margin-top: 16px;  
}
.main_1_3_form_main_forget a{
    color: #1877f2;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    font-family: inherit;
}
.main_1_3_form_main_forget_hr{
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 20px 16px;
    text-align: center;
}
.main_1_3_form_main_forget_New{
    padding-top: 6px;
    text-align: center;
}
.main_1_3_form_main_forget_New_button{
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    background-color: #42b72a;
    font-weight: bold;
    color: #fff;
}